* {
  box-sizing: border-box;
  outline: 0;
  margin: .4em;
}

html, body {
	height: 100%;
	width: 100%;
	background: linear-gradient(rgb(166,34,78), rgb(15,15,15));
	overflow-x: hidden;
	overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 600px;
  width: 100%;
}

.calc-display {
  display: flex;
  align-self: center;
  justify-content: center;
  color: #f2f2f2;
  font-size: 24px;
  height: 80px;
  width: 260px;
  border-radius: 50%;
  background: linear-gradient(60deg,rgba(37,71,131,.4),rgba(182,190,185,0.4));
  border: rgba(149,173,215,.3) solid 1px;
}

.calc-input-container {
  display: flex;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 400px;
  width: 300px;
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  margin: 0 0;
}

.btn-row {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
}

.btn-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 50px;
  width: 50px;
}

.btn-style {
  background: linear-gradient(60deg,rgba(37,71,131,.4),rgba(182,190,185,0.4));
  border-radius: 50%;
  font-size: 24px;
  color: #f2f2f2;
  border: rgba(149,173,215,.3) solid 1px;
}

.btn-style:hover {
  background-color: rgba(255,255,255,.3);
}
